[init]
  defaultBranch = "main"

[user]
  name = "Thiago Santos"
  email = "thia.mdossantos@gmail.com"

[core]
  excludesFile = "~/.globalgitignore"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection

[merge]
  conflictStyle = zdiff3

[includeIf "gitdir:~/dev/thiamsantos/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/dev/remote/"]
    path = ~/.gitconfig-work
