[init]
  defaultBranch = "main"

[user]
  name = "Thiago Santos"
  email = "thia.mdossantos@gmail.com"

[core]
  excludesFile = "~/.globalgitignore"

[push]
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/dev/thiamsantos/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/dev/remote/"]
    path = ~/.gitconfig-work
[http]
	postBuffer = 157286400
